<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>It's a <%= weekDay %></h1>

    <ul>
        <% for (let item of todoList) { %>
         <li><%= item %></li>
        <% } %>
    </ul>

    <form action="/" method="POST">
        <input type="text" name="todoItem">
        <button type="submit">Add</button>
    </form>
</body>
</html>