<%- include("header") %>
    <div class="box" id="heading">
        <h1>It's a <%= weekDay %></h1>
    </div>

    <div class="box">
        <% for (let item of todoList) { %>
            <form action="/delete", method="POST">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="deleteItem" value="<%=item._id%>">
                    <p><%= item.name %></p>
                </div>
            </form>
        <% } %>

        <form action="/" method="POST" class="item">
            <input type="text" name="todoItem" placeholder="Add..." autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
</body>
</html>