<%- include("header") %>
    <div class="box" id="heading">
        <h1>It's a <%= weekDay %></h1>
    </div>

    <div class="box">
        <% for (let item of todoList) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
        <% } %>

        <form action="/" method="POST" class="item">
            <input type="text" name="todoItem" placeholder="Add..." autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
</body>
</html>